.itemGrid {
    box-sizing: border-box;
    height: 100%;

    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    grid-auto-rows: min-content;

    padding: 10px 10px 0 10px;

    overflow-x: hidden;
}

@media only screen and (max-width: 1920px) {
    .itemGrid {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}