.button {
    text-align: center;
    text-overflow: ellipsis;
    width: 56px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame {
    height: 56px;
    width: 56px;
    background-color: #332D49;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.frame:hover {
    background-color: #494068;
    cursor: pointer;
}

.frame > svg {
    height: 90%;
    width: 90%;
}

.label {
    margin-top: 2px;
    margin-bottom: 14px;
    font-size: 16px;

    text-decoration: none;
    color: white;
}

.label:active {
    text-decoration: none;
    color: white;
}

.label:focus {
    text-decoration: none;
    color: white !important;
}